@using MVCBootcamp_Web.Models

@model IEnumerable<CustomerData>

@{
    ViewBag.Title = "StronglyTypeView";
}

<h2>StronglyTypeView</h2>
<ul>
    @foreach (var cust in Model)
    {
        <li>@cust.CompanyName, @cust.City</li>
    }
</ul>

@Html.Partial("_DemoPartial")

@{Html.RenderPartial("_DemoPartial");}